.info-main-div{
    text-align: -webkit-auto;
    color: #212121!important;
}
.info-span{
    font-size: 18px;
    font-weight: 500;
    padding-right: 24px;
}
.edit-span{
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    color: #5755d9;
}
.input-name{
    width: 100%;
    font-size: 14px;
    border: 1px solid #e0e0e0;
    outline: none;
    border-radius: 2px;
    padding: 20px 16px 0 13px;
    box-shadow: none;
}
.form-control{
    font-size: .8rem!important;
    /* height: calc(2.25rem + 7px)!important; */
}
.btn-svae{
    height: 2.2rem!important;
    font-size: .8rem!important;
    background-color: #5755d9!important;
    color: #fff!important;
}
