.carddiv{
    display: flex;
    flex-wrap: wrap;
    padding-top: 1rem;
}
* {
    box-sizing: border-box;
  }
  
  .zoom {
    transition: transform .2s;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(0.5); /* IE 9 */
    -webkit-transform: scale(0.5); /* Safari 3-8 */
    transform: scale(1.04); 
  }